﻿@page
@model Listas.Direcciones.CreateModel

@{
    ViewData["Title"] = "Registrar nueva dirección";
}

    <h1>Registrar nueva dirección</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Direccion.TelefonoFijo" class="control-label"></label>
                <input asp-for="Direccion.TelefonoFijo" class="form-control" />
                <span asp-validation-for="Direccion.TelefonoFijo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion.Calle" class="control-label"></label>
                <input asp-for="Direccion.Calle" class="form-control" />
                <span asp-validation-for="Direccion.Calle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion.NumeroExterior" class="control-label"></label>
                <input asp-for="Direccion.NumeroExterior" class="form-control" />
                <span asp-validation-for="Direccion.NumeroExterior" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion.NumeroInterior" class="control-label"></label>
                <input asp-for="Direccion.NumeroInterior" class="form-control" />
                <span asp-validation-for="Direccion.NumeroInterior" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion.Colonia" class="control-label"></label>
                <input asp-for="Direccion.Colonia" class="form-control" />
                <span asp-validation-for="Direccion.Colonia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion.Localidad" class="control-label"></label>
                <input asp-for="Direccion.Localidad" class="form-control" />
                <span asp-validation-for="Direccion.Localidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion.Municipio" class="control-label"></label>
                <input asp-for="Direccion.Municipio" class="form-control" />
                <span asp-validation-for="Direccion.Municipio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion.Estado" class="control-label"></label>
                <select asp-for="Direccion.Estado" class="form-control" asp-items="@Html.GetEnumSelectList<Modelo.Persona.Direccion.EEstado>()">
                    <option selected="selected" value="">Seleccione un estado</option>
                </select>
                <span asp-validation-for="Direccion.Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion.CP" class="control-label"></label>
                <input asp-for="Direccion.CP" class="form-control" />
                <span asp-validation-for="Direccion.CP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

