﻿@page
@model Listas.Direcciones.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Direccion</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion.TelefonoFijo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Direccion.TelefonoFijo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion.Calle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Direccion.Calle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion.NumeroExterior)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Direccion.NumeroExterior)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion.NumeroInterior)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Direccion.NumeroInterior)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion.Colonia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Direccion.Colonia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion.Localidad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Direccion.Localidad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion.Municipio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Direccion.Municipio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Direccion.Estado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion.CP)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Direccion.CP)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Direccion.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
