﻿@page
@model Listas.Direcciones.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Direccion</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion.TelefonoFijo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Direccion.TelefonoFijo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion.Calle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Direccion.Calle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion.NumeroExterior)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Direccion.NumeroExterior)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion.NumeroInterior)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Direccion.NumeroInterior)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion.Colonia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Direccion.Colonia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion.Localidad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Direccion.Localidad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion.Municipio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Direccion.Municipio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Direccion.Estado)                        
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion.CP)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Direccion.CP)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Direccion.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
