﻿@page
@model Listas.Direcciones.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Direccion[0].TelefonoFijo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion[0].Calle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion[0].NumeroExterior)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion[0].NumeroInterior)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion[0].Colonia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion[0].Localidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion[0].Municipio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion[0].Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion[0].CP)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Direccion) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TelefonoFijo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroExterior)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroInterior)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Colonia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Localidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Municipio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CP)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
