﻿@page
@model Listas.Cooperativistas.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Cooperativista</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Cooperativista.EsSocio" /> @Html.DisplayNameFor(model => model.Cooperativista.EsSocio)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Cooperativista.ApellidoPaterno" class="control-label"></label>
                <input asp-for="Cooperativista.ApellidoPaterno" class="form-control" />
                <span asp-validation-for="Cooperativista.ApellidoPaterno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cooperativista.ApellidoMaterno" class="control-label"></label>
                <input asp-for="Cooperativista.ApellidoMaterno" class="form-control" />
                <span asp-validation-for="Cooperativista.ApellidoMaterno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cooperativista.CURP" class="control-label"></label>
                <input asp-for="Cooperativista.CURP" class="form-control" />
                <span asp-validation-for="Cooperativista.CURP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cooperativista.Email" class="control-label"></label>
                <input asp-for="Cooperativista.Email" class="form-control" />
                <span asp-validation-for="Cooperativista.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cooperativista.TelefonoMovil" class="control-label"></label>
                <input asp-for="Cooperativista.TelefonoMovil" class="form-control" />
                <span asp-validation-for="Cooperativista.TelefonoMovil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cooperativista.DireccionId" class="control-label"></label>
                <select asp-for="Cooperativista.DireccionId" class ="form-control" asp-items="ViewBag.DireccionId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Cooperativista.Nombre" class="control-label"></label>
                <input asp-for="Cooperativista.Nombre" class="form-control" />
                <span asp-validation-for="Cooperativista.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cooperativista.Observacion" class="control-label"></label>
                <input asp-for="Cooperativista.Observacion" class="form-control" />
                <span asp-validation-for="Cooperativista.Observacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
