﻿@page
@model Listas.Cooperativistas.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Cooperativista</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cooperativista.EsSocio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cooperativista.EsSocio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cooperativista.ApellidoPaterno)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cooperativista.ApellidoPaterno)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cooperativista.ApellidoMaterno)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cooperativista.ApellidoMaterno)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cooperativista.CURP)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cooperativista.CURP)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cooperativista.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cooperativista.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cooperativista.TelefonoMovil)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cooperativista.TelefonoMovil)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cooperativista.Direccion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cooperativista.Direccion.CP)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cooperativista.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cooperativista.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cooperativista.Observacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cooperativista.Observacion)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Cooperativista.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
