﻿@page
@model Listas.Cooperativistas.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cooperativista[0].EsSocio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cooperativista[0].ApellidoPaterno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cooperativista[0].ApellidoMaterno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cooperativista[0].CURP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cooperativista[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cooperativista[0].TelefonoMovil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cooperativista[0].Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cooperativista[0].Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cooperativista[0].Observacion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Cooperativista) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EsSocio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidoPaterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidoMaterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CURP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelefonoMovil)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion.Calle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observacion)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
