﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Página de inicio";
}

<div class="row mb-auto">
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 mb-4 ">
                <p class="card-text">
                    Esta aplicación, Listas, permite efectuar operaciones 
                    de registro, actualización, consulta y eliminación
                    de las diferentes entidades que interactúan en la organización.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 d-flex flex-column position-static">
                <p class="card-text mb-auto">
                    En este enlace puedes encontrar manuales de esta aplicación
                </p>
                <p>
                    <a href="https://docs.microsoft.com/aspnet/core/data/ef-rp/intro" class="stretched-link">Ver tutoriales</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 d-flex flex-column">
                <p class="card-text mb-auto">
                    Descargar el proyecto desde Github
                </p>
                <p>
                    <a href="https://github.com/dotnet/AspNetCore.Docs/tree/master/aspnetcore/data/ef-rp/intro/samples" class="stretched-link">Ver el código fuente</a>
                </p>
            </div>
        </div>
    </div>
</div>
